.navbar{
    background-color: #03143D; ;
     font-weight: bold;
    font-size: 19px; 
}

.IFS{
    width:70%;
    border:none;
    padding: 20px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2);
    display:flex;
    align-items: center;
    margin: 10px;
    background-color: #F5F5F5;
    border-radius: 10px;
}
.IFS{
    font-family: "Archivo Narrow", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-size: 18px;
    font-weight: bold;
}
.text{
    font-family: "Archivo Narrow", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-size: 20px;
    font-weight: normal;
}
.content-1{
    font-family: "Archivo Narrow", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-size: 50px;
    font-style: normal;
}