.navbar{
    background-color: #03143D; ;
     font-weight: bold;
    font-size: 19px; 
}


.IFS{
    width:auto;
    border:none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.2);
    display:flex;
    align-items: center;
    margin: 10px;
    background-color: #F5F5F5;
    border-radius: 10px;
}
.IFS{
    font-family: "Archivo Narrow", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-size: 19px;
    font-weight: bold;
}
.text{
    font-family: "Archivo Narrow", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-size: 20px;
    font-weight: normal;
}
.content-1{
    font-family: "Archivo Narrow", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-size: 50px;
    font-style: normal;
}

.custom-carousel-btn {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
   
    border: none;
    font-size: 40px; /* Increase arrow size */
    font-weight: bold;
    color: white; /* Button color */
    cursor: pointer;
    z-index: 10;
}
.carousel-control-prev {
    left: -70px; /* Move left button outside */
}
.carousel-control-next {
    right: -70px; /* Move right button outside */
}
  
    .carousel-indicators-custom {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      border:none;
    }
    .indicator {
        border:none;
        width: 12px;
        height: 12px;
        margin: 5px;
        border-radius: 50%;
        background-color: white; /* Default color */
        border: none; /* Border color */
        cursor: pointer;
    }
    .indicator.active {
        background-color:grey; /* Change color when active */
    }
.carousel-inner{
    width:93%;
    height:90%;
    margin-left:20px;
}
.arrow{
    background-color: black;
    color:white;
    border-radius:50%;
    margin-left:29px;
    padding-left:7px;
    padding-right:7px;
    padding-bottom:7px;
}
.arrow-1{
    background-color: black;
    color:white;
    border-radius:50%;
    margin-right:30px;
    padding-left:9px;
    padding-right:9px;
    padding-bottom:7px;
}

/* Mobile-screen */
@media screen and (max-width:500px) {
    .carousel-inner{
        width:270px;
        height:90%;
       margin-left: 0;
    }
    .carousel-control-prev {
        left: -40px; /* Move left button outside */
    }
    .carousel-control-next {
        right: -40px; /* Move right button outside */
    }

    .cloud-text{
        text-align: justify;
    }
}